<IfModule mod_rewrite.c>

RewriteEngine on

# http://<your host>/<type>/referer ( transforms from refering url )
RewriteRule ^([A-Za-z0-9-]+)/referer$  index.php?type=$1&url=referer [NC,NE]

# http://<your host>/<type>/http://<your page> ( transforms a whole page )
RewriteRule ^([A-Za-z0-9-]+)/http://?(.*)$  index.php?type=$1&url=http://$2 [NC,NE]

# http://<your host>/<type>/<your fragment> ( transforms from refering ID )
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$  index.php?type=$1&url=$2 [NC,NE]

# http://<your host>/<type>/(ntriples|rdfa|turtle|rdfjson)/http://<your page> 
RewriteRule ^([A-Za-z0-9-]+)/(ntriples|rdfa|turtle|rdfjson|html)/http://?(.*)$  index.php?type=$1&output=$2&url=http://$3 [NC,NE]

</IfModule>

