body {
	font: small/1.4 Verdana, Arial, sans-serif;
	margin:0 auto;
	padding:0;
	text-align:center;
	width:760px;
}
h1 {
	color:#679A06;
	margin:0px;
	padding:5px 10px 10px;
}
h2, h3, legend {
	color:#679A06;
	margin:0px;
}
.content h2 {
	clear:both; 
	display:block;
}
p {
  line-height:10pt;
}
a {
	color:#679A06;
	text-decoration:none;
}
a:hover {
	background-color:#ECF6D2;
}
.commands ul, .commands li {
  list-style-type:none;
} 
ul, li {
  list-style-type:square;
} 
.hslice {
	border:1px solid #679A06;
	margin-top:30px;
	padding:20px;
	text-align:left;
	
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-box-shadow: 0 2px 5px #CCCCCC;
	
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-box-shadow: 0 2px 5px #CCCCCC;
}
.homepage {
	float:right;
	margin:0pt;
	padding:0pt;
}
.subtitle {
	color:#679A06;
	margin:0px;
	padding:5px;
}
.subtitle a {
	color:#FFFFFF;
	font-weight:900;
}
input#url {
	width:40%;
}
.errors {
	border:1px dotted #AA0000;
	margin-bottom:10px;
	padding:10px;
}
.errors h4, p.error {
	color:#AA0000;
}
a img {
	border:0px; 
	vertical-align: middle;
}
.butt {
	background-color:#F1EDED;
	border:1px solid #679A06;
	float:right;
	margin-top:-1px;
	padding:0 5px 5px;
	
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-box-shadow:0 2px 2px #CCCCCC;
	
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-box-shadow:0 2px 2px #CCCCCC;
}
code {
  background-color:#F9F9F9;
}
tt, code, kbd, samp {
  font-family:-moz-fixed;
}
legend{
	font-weight:bolder; 
	font-size:22px;
	text-align:left;
}
fieldset {border:0;margin:0;}
fieldset p {text-align:center;}
form {	
	width:740px;
	background-color:transparent;
	border:1px solid #679A06;
	padding:5px;
	margin:30px auto;
	
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-box-shadow: 0 2px 5px #CCCCCC;
	
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-box-shadow: 0 2px 5px #CCCCCC;
}
li {list-style-type:none;}
#transformr {
	clear:both;
	margin-bottom:10px;
	margin-left:5px;
	text-align:left;
}
#transformr img { position:relative; float:left; margin:0 15px; }
#transformr p { font-size: 10px; }
input.Valid {
	background-color: #B8F5B1;
}
input.Invalid {
	background-color: #FF9F9F;
}
input.Focus {
	background-color: #FFFFCC;
}
input.Reset {
	background-color: #FFFFFF;
}